@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat Alternates", sans-serif;
    background-color: #182c25;
}

ul {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

:root {
    --header-height: 5rem;
    --fullscreen: calc(100vh - var(--header-height));
    --button-width: 100px;
    --button-height: 75px;
}

/* NAVBAR */
.container {
    width: 90%;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #182c25;
    height: var(--header-height);
    padding: 0 2rem;
    position: sticky;
    top: 0;
}

.nav__logo {
    font-size: 3rem;
    font-weight: 600;
    color: aliceblue;
    cursor: pointer;
}

.nav__list {
    display: flex;
    column-gap: 2rem;
    align-items: center;
    margin-right: 4rem;
}

.nav__link {
    font-size: 1rem;
    font-weight: 500;
    opacity: .8;
    color: aliceblue;
    display: inline-block;
    transition: opacity 1s;
}

.nav__link:hover {
    opacity: 1;
}

.nav__item {
    position: relative;
}

.nav__list:has(.nav__link:hover) .nav__link:not(:hover) {
    opacity: .4;
}

.visited {
    opacity: 1;
}

.visited::after {
    content: "";
    border: 1px solid;
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 0;
    background-color: aliceblue;
    transition: width .5s ease;
}

.visited.active::after {
    width: 100%;
}

.theme_selector {

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    height: 100%;

}

.theme_selector i {
    font-size: 1.5rem;
    padding: .3rem;
    position: absolute;
    color: aliceblue;
    cursor: pointer;
    transition: opacity .5s ease-in-out;
}

.selected {
    opacity: 1;
    z-index: 1;
}

.unselected {
    opacity: 0;
    z-index: -1;
}

main {
    width: 100%;
}

.basic {
    width: 100%;
    height: var(--fullscreen);
}


/*============ STANDARD ============*/
.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator__container {
    border: 2px solid #455b55;
    border-radius: 1rem;
    overflow: hidden;
    width: 500px;
}

.calculator_type {
    color: aliceblue;
    align-self: flex-start;
    font-size: 2rem;
    padding: 1rem 2.2rem;
}

.calculator__display {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.calculator__display input {
    width: 100%;
    padding: 1rem .5rem;
    border: none;
    font-size: 2rem;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
}

.calculator__expression {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    direction: ltr;
    text-align: right;
    scrollbar-width: none;
    border: none;
}

.calculator__result {
    text-align: end;
    border: none;
}

.standard__keypad {
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    row-gap: 1rem;
    width: 100%;
    padding: 1rem 0;
    padding: 1rem;
    border-top: none;
}

.row {
    display: flex;
    column-gap: 2rem;
    justify-content: space-between;
}

.keypad_btn {
    color: aliceblue;
    border: 2px solid #455b55;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--button-width);
    height: var(--button-height);
    font-weight: 600;
    font-size: 1.5rem;
    background-color: #455b55;
    cursor: pointer;
}
.toggle_close {
        position: absolute;
        opacity: 0;
        z-index: -11;
    }

@media screen and (max-width: 1150px) {
    :root {
        --button-width: 60px;
        --button-height: 50px;
    }

    .container {
        width: 100%;
    }

    .header {
        flex-wrap: wrap;
        padding: .2rem;
        background-color: #455b55;
    }

    .nav__logo {
        font-size: 2rem;
        padding: .2rem;
    }

    .nav__list {
        position: absolute;
        top: 0;
        left: 0;
        padding: 4rem 1rem;
        row-gap: 2rem;
        flex-direction: column;
        align-items: flex-start;
        width: 100vw;
        height: 100vh;
        background-color: #455b55;
        opacity: 0;
        z-index: -11;
        transition: opacity 1s;
    }

    .theme_selector {
        opacity: 0;
        top: 20rem;
        left: -19rem;
        z-index: -11;
        transition: opacity .5s;
    }
    .themeshow{
        opacity: 1;
        z-index: 11;
    }

    .toggle_close {
        position: absolute;
        right: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: aliceblue;
        cursor: pointer;
        opacity: 1;
        z-index: 11;
        transition: opacity .5s ease-in-out;
    }
    .list_show{
        opacity: 1;
        z-index: 10;
    }
    .toggle_close i{
        position: absolute;
        padding: .2rem;
        font-size: 2rem;
    }
    .close{
        opacity: 0;
        z-index: -1;
    }
    .close_btn_show{
        opacity: 1;
        z-index: 11;
        transition: opacity .5s;
    }

    .hide_toggle_btn{
        z-index: -1;
    }
    
    .calculator_type {
        padding: .2rem 0 2rem .2rem;
        font-size: 1.3rem;
    }

    .calculator__container {
        width: 97%;
        margin: auto;
        max-width: 500px;
        z-index: 0;
    }
    .calculator__container_hiden{
        z-index: -1;
    }
    .calculator_type{
        padding: 2rem 0.2rem;
    }

    .row {
        column-gap: .2rem;
    }
}
